data_for_final_model.csv
Housing_data_CatBoost.csv
Housing_data_cleaned.csv
Housing_data_coded.csv
Housing_data_done.csv
Housing_data_norm.csv
housing_data_to_cut.csv
housing_data.csv
Housing_prices_forecast1.ipynb
pipeline.ipynb
Richmond, VA.png
catboost_info
web